@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Fira+Sans:wght@100&family=Playfair+Display&family=Quintessential&family=Supermercado+One&family=Titillium+Web:wght@200&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto; 
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
nav a{
    text-align: center;
    color: black;
    text-decoration:none;
    padding: 35px;
} 
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
    color: white;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
    background-color:wheat;
    grid-column:1/11;
    grid-row:4/9;
}
body {
    background-color: #2a9d8f; 
    font-family: Quintessential, Andada Pro, Titillium Web;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #1e81b0;
    font-family: Fira Sans, Andada Pro, Playfair Display;
}
nav a:hover {
    background-color: #f4a261;
    color: gray;
}
.msg{
    background-color: #e76f51;
    line-height: 1.5em;
    padding: 35px;
    grid-column:6/10;
    grid-row:6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    color: black;
}
footer{
    background-color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.book{
    background-color: #f4a261 ;
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join{
    background-color: black;
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover{
    background-color: goldenrod;
    color:yellowgreen;
}
.join:hover{
    background-color: palegoldenrod;
    color:black;
}
.home-title{
    color:chocolate;
    font-family: Supermercado One, Playfair Display, ;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color:black;
}
.msg p{
    color:blueviolet;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3{
    color:white;
}
footer a{
    color:white;
    text-decoration: none;
}
footer a:hover{
    color:greenyellow;
}
.logo {
    width:80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer h3 a:hover{
    text-decoration: underline;
}
#hero-img {
    width: 100%;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer.social img{
    padding-top: 15px;
}
.rivers-card{
    margin: 200px 0;
    grid-column:2/4;
    grid-row:2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column:5/7;
    grid-row:2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column:8/10;
    grid-row:2/3;
}  
.card-img{
    border: 10px solid #1e81b0;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px yellow;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
main section img{
    box-sizing: border-box;
}
.mountains{
    margin-top: 60px;
    margin-bottom: 100px;
    width: 100%;
    grid-column:2/7;
    grid-row:5/8;
    box-shadow: 5px 5px 10px grey;
}
nav{
    display: flex;
    justify-content: space-around;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
